@font-face {
  font-family: myFont;
  src: url();
}


html {
  background-color: #e9ebe2;
  font-size: 20px;
}

header {
  text-align: center;
}

button {
  text-align: center;
}

header h1{
  font-family: "Source Code Pro";
}

ul {
  background: red;
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}
